pandas==2.1.4
numpy==1.26.3
#GTFS Real-time
gtfs-realtime-bindings==1.0.0
protobuf==4.25.1
#OpenStreetMap & Geolocalisation
osmnx==1.9.1
folium==0.15.1
geopy==2.4.1
overpy==0.7
geopandas==0.14.3
shapely==2.0.3
networkx==3.2.1
#Visualisation
matplotlib==3.8.3
contextily==1.5.0
#Testing
pytest==7.4.4


